 <%= render 'users/list', users: @users %>

<%= render 'books/list', books: @books %>


<div class="container">
<div class="row">
<h2>Users</h2>
</div>
  <% @users.each do |user| %>
  
<table class="table">
 <thead>
  <tr>
   <th>image</th>
  
   <th>name</th>
   
  </tr>
 </thead>
 <tbody>
  <tr>
   <th><%= attachment_image_tag @user, :profile_image, :fill, 20, 20, format: 'jpeg', fallback: "no_image.jpg" %></th>
   <th><%= link_to user.name, user %></th>
  </tr>
 </tbody>
</table>

<% end %>

