
<div class="container">
<h2>Books</h2>

<% @books.each do |book| %>
<div class="row">
 <table class="tabel table-hover table-inverse">
  <thead>
   <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
   </tr>
  </thead>
  <tbody>
   <tr>
     <tb><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %></tb>
     <tb><%= link_to book.title, book_path(book) %></tb>
     <td><%= book.body %></td>
   </tr>
  </tbody>
 </table>
 </div>
 
 
  <% if flash[:notice] %>
 <p id="notice">
     <%= flash[:notice] %>
 </p>
<% end %>
<% end %>



